<div class="container">
   <h4 class="d-inline bg-light">会員情報編集</h4>
   <div class="row">
   <%= form_with model: @customer, lacal: true do |f| %>

    <div class="form-group">
     <%= f.label :氏名, class: "brown-border" %>
      <div class="row">
       <%= f.text_field :first_name, class: "form-control col-4"%>
       <%= f.text_field :last_name, class: "form-control col-4"%>
     </div>
    </div>

    <div class="form-group">
     <%= f.label :フリガナ, class: "brown-border" %>
     <div class="row">
      <%= f.text_field :first_name_kana, class: "form-control col-4"%>
      <%= f.text_field :last_name_kana, class: "form-control col-4"%>
     </div>
    </div>

    <div class="form-group">
     <%= f.label :郵便番号, class: "brown-border" %>
     <%= f.text_field :postal_code, class: "form-control col-4"%>
    </div>

    <div class="form-group">
     <%= f.label :住所, class: "brown-border" %>
     <%= f.text_field :address, class: "form-control col-9"%>
    </div>

    <div class="form-group">
     <%= f.label :電話番号, class: "brown-border" %>
     <%= f.text_field :telephone_number, class: "form-control col-4"%>
    </div>

    <div class="form-group">
     <%= f.label :メールアドレス, class: "brown-borde" %>
     <%= f.email_field :email, class: "form-control col-6"%>
    </div>


     <%= f.submit "編集内容を保存", class: "btn btn-success" %>
    </div>
<% end %>
     <%= link_to "退会する" , customers_quit_path(@customer),  class: "btn btn-danger" %>
    </div>
  </div>
 </div>
</div>