<div class="container">

<h4 class="d-inline bg-light">管理者ログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field row">
    <%= f.label :メールアドレス,class: "col-md-3 col-form-label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-md-5"%>
  </div>

  <div class="field row">
    <%= f.label :パスワード,class: "col-md-3 col-form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password" ,class: "col-md-5"%>
  </div>

  <div class="actions row">
    <%= f.submit "ログイン" ,class: " btn btn-primary" %>
  </div>
 <% end %>
</div>
