<div class="container">
 <h4 class="d-inline bg-light">注文情報確認</h4>
 <div class="row">
  <div class="col-8">
  <table class="table table-bordered">
  <thead>
  <tr class="table-head">
  <th>商品名</th>
  <th>単価（税込）</th>
  <th>数量</th>
  <th>小計</th>
  </tr>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
  <tr>
  <td>
  <%= attachment_image_tag cart_item.item, :image, :size => '50x50',fallback: "no_image.jpg" %>
  <%= cart_item.item.name %>
  </td>
  <td><%= (cart_item.item.price * 1.1).floor %></td>
  <td><%= cart_item.amount %></td>
  <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
  <table class="table table-borderless">
  <tbody>
  <tr>
  <th>支払方法</th>
  <td><%= @order.payment %></td>
  </tr>
  <tr>
  <th>お届け先</th>
  <td>
  <p>〒<%= @order.postal_code %><%= @order.address %></p>
  <p><%= @order.name %></p>
  </td>
  </tr>
  </tbody>
  </table>
 </div>

 <div class="col-4">
 <table class="table table-bordered">
 <tbody>
 <tr>
 <td>送料</td>
 <td><%= @order.postage %></td>
 </tr>
 <tr>
 <td>商品合計</td>
 <td><%= @total_price %></td>
 </tr>
 <tr>
 <td>請求合計</td>
 <td><%= @total_price + @order.postage %></td>
 </tr>
 </tbody>
 </table>
 </div>
 </div>
 <div class="row">
  <div class="col-xs-offset-5">
  <%= form_with model: @order, url: orders_path, method: :post, id: 'order', local: true do |f| %>
  <%= f.submit "注文を確定する",class:"btn btn-success offset-8" %>
  <% end %>
  </div>
 </div>
</div>