<div class="container">
 <div class="row">
  <h4 class="d-inline bg-light">注文履歴詳細</h4>
   <div class="col-xs-8">
    <h5>注文情報</h5>
     <table class="table table-bordered">
      <tbody>
       <tr>
        <td>注文日</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
       </tr>
       <tr>
        <td>配送先</td>
        <td>
         <p><%= @order.postal_code %><%= @order.address %></p>
         <p><%= @order.name %></p>
        </td>
       </tr>
       <tr>
        <td>支払方法</td>
        <td><%= @order.payment %></td>
       </tr>
       <tr>
        <td>ステータス</td>
        <td></td>
       </tr>
      </tbody>
     </table>

     <h5>注文内容</h5>
      <table class="table table-bordered">
       <thead>
        <tr class="table-head">
         <th>商品</th>
         <th>単価（税込）</th>
         <th>個数</th>
         <th>小計</th>
        </tr>
       </thead>
       <tbody>
       <% @orders_details.each do |orders_details| %>
        <tr>
         <td><%= orders_details.item.name %></td>
         <td><%= orders_details.price %></td>
         <td><%= orders_details.quantity %></td>
         <td><%= orders_details.price * orders_details.quantity %></td>
        </tr>
       <% end %>
       </tbody>
      </table>
     </div>

    <div class="col-xs-4">
     <h5>請求情報</h5>
      <table class="table table-bordered">
       <tbody>
        <tr>
         <td>商品合計</td>
         <td><%= @total_price %></td>
        </tr>
        <tr>
         <td>配送料</td>
         <td><%= @order.postage %></td>
        </tr>
        <tr>
         <td>ご請求額</td>
         <td><%= @order.total_price %></td>
         </tr>
       </tbody>
      </table>
    </div>
   </div>
</div>